.form-row {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 .1rem 0 .75rem;

  display: grid;
  place-items: center;
}

.btn-rounded {
  border-radius: .3rem !important;
}

@media screen and (min-width: 780px) {
  .form-row {
    padding: 3rem;
  }
}
