.password-container {
  /* border: 1px solid blue; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.input-append {
  position: absolute;
  right: 1.2rem;
  bottom: 1.15rem;

  cursor: pointer;
}

.input-password {
  padding-right: 2.5rem;
}